html {
  background: url("background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
  margin: 0;

  color: white;
}

.container {
  margin-top: 9%;
  display: flex;
  flex-direction: column; /* make main-axis vertical */
  justify-content: center; /* align items vertically, in this case */
  align-items: center; /* align items horizontally, in this case */
  flex-grow: 0;
  flex-shrink: 0;
}

form {
  background-color: white;
  width: fit-content;
  height: fit-content;
  border: 2px solid white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;

  flex-grow: 1;
  /* position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */

  box-shadow: 5px 8px 6px 8px #00000036;
}

form header {
  color: #00a599;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  padding: 0 95px;
  margin-top: 35px;
  font-size: 15px;
}

form header,
form section {
  text-align: center;
}

.inputs-container {
  display: flex;
  flex-direction: column; /* make main-axis vertical */
  align-items: center; /* align items horizontally, in this case */
  gap: 30px;
  
}

input {
  display: block;
  border: none;
  border-bottom: 2.5px solid #00a599;
  font-size: 26px;
}


input::placeholder {
  font-size: 15px;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  justify-content: flex-start;
  gap: 15px;
}

.checkbox input {
  display: inline-block;
  flex-basis: 10px;
  margin: 0;
  padding: 0;
}

.checkbox label {
  color: #9ca3af;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

input[type="submit"] {
  background-color: #00a599;
  border: none;
  color: white;
  padding: 15px 7px;
  margin-bottom: 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 2s;
  width: 75%;
}

input[type="submit"]:hover {
  background-color: #43e583;
}

input:focus {
  outline: none;
}
